.k-block-type-form .k-block-type-form-wrapper, .k-block-type-form .k-input, .k-block-type-form .k-tag {
  display: inline-flex;
  width: auto;
}
.k-block-type-form .k-tag {
  color: --color-white !important;
  background-color: var(--color-gray-300);
}
.k-block-type-form .k-tag[data-state=new] {
  background-color: var(--color-orange);
}
.k-block-type-form .k-tag[data-state=ok] {
  background-color: var(--color-green);
}
.k-block-type-form .k-tag[data-state=error] {
  background-color: var(--color-red);
}
.k-block-type-form .k-block-type-form-wrapper {
  border: 1px solid var(--color-gray-300);
}
.k-block-type-form .k-block-type-form-wrapper[data-state=new] {
  border-color: var(--color-orange);
}
.k-block-type-form .k-block-type-form-wrapper[data-state=ok] {
  border-color: var(--color-green);
}
.k-block-type-form .k-block-type-form-wrapper[data-state=error] {
  border-color: var(--color-red);
}
.k-block-type-form .k-text-input {
  padding-left: 0.3rem;
}.k-field-type-mail-view {
  padding: 0;
}
.k-field-type-mail-list-item-empty em {
  font-style: italic;
  color: var(--color-text-light);
}
.k-field-type-page-dialog h2.k-headline {
  padding-bottom: 15px;
}
.k-field-type-page-change-display {
  text-align: right;
}
.k-field-type-page-change-display > a {
  color: var(--color-focus);
  font-size: 0.8rem;
  padding-top: 10px;
  cursor: pointer;
}
.k-field-type-page-dialog-table > table {
  width: 100%;
  padding: 15px;
  background: var(--color-gray-100);
}
.k-field-type-page-dialog-table > table td, .k-field-type-page-dialog-table > table th {
  line-height: 1.25em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.k-field-type-page-dialog-table + fieldset.k-fieldset {
  margin-top: 30px;
}